body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #000000;
    font-family: 'Poppins';
    font-style: normal;
  }
  #home{
    background-color: #1F1F1F;
    width: 100%;
  }
 
  .header {
    width: 100%;
  }
  
  .navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 6px;
  }
  .right-nav {
    display: flex;
  }
  .left-nav #logo {
    width: 25%;
    color: rgb(255, 255, 255);
    padding: 0 30px;
    margin-top: 10px;
    cursor: pointer;
    font-weight: 700;
    font-size: 48px;
    line-height: 72px;
    color: #FFFFFF;
  }
  .center-nav{
    width: 560px;
    height: 53px;
    background: #262626;
    display: flex;
    align-items: center;
    border-radius: 15px;
    padding: 5px;
  }
  .center-nav form{
    width: 100%;
  }
  .center-nav input{
    width: 80%;
    background: #262626;
    flex: 1;
    border: 0;
    outline: none;
    padding: 10px;
    font-size: 24px;
    color: #FFFFFF;
  }
  .right-nav{
  margin: 20px;
  }
  .right-nav .button {
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    
    border: none;
    color: white;
    width: auto;
    padding: 10px ;
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    justify-content: space-around;
    
    background-color: #262626;
    border-radius: 15px; 
    font-weight: 600;
    font-size: 22px;
    line-height: 33px;
  }
  
 /* * main box with icons *  */
  .box{
    padding: 10px;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    height: 588px;
    margin-left: 100px;
    margin-right: 100px;
    background: #262626;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
  }

  .box #about{
    margin-top: 20px;
    margin-left: 45px;
    font-weight: 600;
    font-size: 48px;
    line-height: 72px;
    color: #FFFFFF;
    background: #262626;
    border-radius: 50px;
  }
  .box .perks{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    background: #262626;
    padding: 20px;
    padding-top: 15px;
  }
  .perks .sector1{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: center;
    background: #262626;
  }
  .perks .sector2{
    display: flex;
    flex-direction: column;
    background: #262626;
    justify-content: center;
  }
  .sector1 div{
    display: flex;
    flex-direction: row;
    background: #262626;
  }
  .sector1 img{
    width: 105px;
    height: 105px;
    border-radius: 100px;
    background: #262626;
    margin: 8px;
  }
  .sector2 img{
    width: 288px;
    height: 288px;
    background: #262626;
    position: relative;
    bottom: 40px;
    right: 10px;
  }
  .sector1 p{
    font-weight: 600;
    font-size: 32px;
    line-height: 48px;
    color: #C4C4C4;
    align-content: center;
    padding-top: 10px;
    padding-left: 10px;
    background-color: #262626;
  }
  .btn{
    background:#FECB03;
    border-radius: 50px;
    padding: 10px;
    margin: 10px;
    font-weight: 600;
    color: #262626;
    cursor: pointer;
  }
  .btn:hover{
    background-color: #ffdc4f;
    transform: scale(1.25);
    transition-duration: 0.2s;
  }
  .sector2 .btn{
    width: 260px;
    height: 107px;
    position: relative;
    bottom: 6px;
    font-size: 35px;
    line-height: 52px;
  }
  .flex-box .btn{
    width: 170px;
    height: 64px;
    font-size: 15px;
    line-height: 22px;
  }
  .our_cat{
    font-weight: 600;
    font-size: 45px;
    line-height: 68px;

    color: #FFFFFF;
    margin: 50px;
    padding: 40px;
    margin-bottom: 30px;
  }
 
  .category{
    width: 100%;
    height: auto;
    padding-left: 40px;
    padding-right: 40px;
    color:rgb(255, 255, 255);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .flex-box{
    width: 25%;
    height: 390px;
    background: #1F1F1F;
    border: 3px solid #262626;
    border-radius: 20px;
    margin: 40px;
    margin-top: 10px;
    padding: 20px;
    padding-top: 35px;
    display: flex;
    flex-direction: column;
    align-items: left;
  }
  .flex-box > div{
    display: flex;
    align-items: center;
  }
  .flex-box .btn_div{
    width: 100%;
    height: 20%;
    justify-content: right;
  }
  .flex-box h2{ 
  font-weight: 600;
  font-size: 30px;
  line-height: 45px;
  background-color: transparent;
  color: #C4C4C4;
  }
  .flex-box p{
    height: 70%;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  margin-top: 10px;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.8);
  }
  
 /* * footer class *  */
 footer {
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  height: auto;
  background: #1F1F1F;
  padding: 10px;
  display: flex;
} 
 .footer_content {
    display: flex;
    justify-content: space-evenly;
    background: #262626;
    left: 33px;
    width: 100%;
    margin: 20px;
    height: 350px;
    padding: 10px;
    border-radius: 30px;
    color:rgb(255, 255, 255);
  }
  .forent {
    
    width: 35%;
    background-color: transparent;
  }
  .forent h2{
    font-weight: 700;
    font-size: 48px;
    line-height: 72px;
    background-color: #262626;
  }
  .forent p{
  font-weight: 400;
  font-size: 18px;
  color: rgba(255, 255, 255, 0.8);
  background-color: #262626;
  }
  .footer_content h2{
    font-weight: 600;
    font-size: 32px;
    line-height: 48px;
    color: #FFFFFF;
    padding-bottom: 10px;
    background-color: #262626;
  }
  .footer_content .sitemap li {
    list-style-type: none;
    font-weight: 600;
    font-size: 20px;
    line-height: 35px;
    background-color: #262626;
  }
  .footer_content .sitemap a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.8);
    background-color: #262626;
  }
  .footer_content .socials li {
    list-style-type: none;
    font-weight: 600;
    font-size: 20px;
    line-height: 35px;
    background-color: #262626;
  }
  .footer_content .socials a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.8);
    background-color: #262626;
  }